<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="assets/img/logo.png" alt="Imperial">
        </div>

        <h1>Notebook</h1>
        <h2>Beautiful <span class="rotating">Sher, Gazal, Nazme</span></h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">Get Strated</a>
        </div>
      </div>
    </div>
  </section>
  <!-- #hero -->

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="assets/img/logo.png" alt="" title="" /></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Me</a></li>
          <li><a href="#portfolio">Poetry</a></li>
          <li><a href="#team">Owner</a></li>
          <li><a href="#contact">Contact Me</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  About Section
  ============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">About Me</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Poetry is when an emotion has found its thought and the thought has found words</p>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">

        <div class="col-lg-6 about-img">
          <img src="assets/img/about-img.jpg" alt="">
        </div>

        <div class="col-md-6 about-content">
          <h2 class="about-title">कुछ गज़ले, कुछ नज़्मे और तुम </h2>
          <p class="about-text">
            " ' कनोर '  उससे कईं ज़ियादा है, जितना तुम्हे बताते है लोग ", ये मक़ता मेरी एक ग़ज़ल का है | जिसका अर्थ है कि इस दुनिया जहान में बहुत सी बाते है जिनसे मैं वाकिफ नहीं हूँ | अलग अलग लोगो से रु-ब-रु होने पर आप उन्हें समझ पाएंगे | और जगह जगह घूमने पर आप हर जगह की प्रकृति जान पाएंगे |
          </p>
          <p class="about-text">
            इस शेर का एक दूसरा अर्थ यह भी निकलता है जिसमे शायद अतिश्योक्ति होगी अगर मैं कहूं की जितना मैं जहान से वाकिफ नहीं हूँ  उतना ही जहान भी मुझसे वाकिफ नहीं है
          </p>
          <p class="about-text">
            अभी तक कितने लोग होंगे जिन्हे आप जानते होंगे | शायद ही कोई होगा जिसे आप पूरी तरह से जान गए होंगे  | दुसरो का क्या कहे, आप खुद को ही नहीं जान पाते है | जानना आसान है पहचानना मुश्किल है | मैं  भी यहां आपको जानने आया हूँ | आप भी शायद...
          </p>
          <p>- कनोर</p>
        </div>
      </div>
    </div>
  </section>
  <!-- aboutus-->

  <!--==========================
  Services Section
  ============================
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Services</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-desktop"></i></div>
          <h4 class="service-title"><a href="">Lorem Ipsum</a></h4>
          <p class="service-description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="service-title"><a href="">Dolor Sitema</a></h4>
          <p class="service-description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-paper-plane"></i></div>
          <h4 class="service-title"><a href="">Sed ut perspiciatis</a></h4>
          <p class="service-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-photo"></i></div>
          <h4 class="service-title"><a href="">Magni Dolores</a></h4>
          <p class="service-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-road"></i></div>
          <h4 class="service-title"><a href="">Nemo Enim</a></h4>
          <p class="service-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="service-title"><a href="">Eiusmod Tempor</a></h4>
          <p class="service-description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>
      </div>
    </div>
  </section>
  <!-- #service section -->

  <!--==========================
  Subscrbe Section
  ============================
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Subscribe For Updates</h3>
          <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="#">Subscribe Now</a>
        </div>
      </div>
    </div>
  </section>
  <!-- #subscribe section-->

  <!--==========================
  Porfolio Section
  ============================-->
  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Poetry</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">कोई सपना सुनाता जा, नींद से जगाता जा ... </p>
        </div>
      </div>

      <div id="pic1" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/img/portfolio-1.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div id="pic2" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/img/portfolio-2.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div id="pic3" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/img/portfolio-3.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div id="pic4" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/img/portfolio-4.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div id="pic5" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/img/portfolio-5.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div id="pic6" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/img/portfolio-6.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div id="pic7" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/img/portfolio-7.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div id="pic8" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/img/portfolio-8.jpg" class="img-responsive">
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div>
          <a class="col-md-3" type="button" data-toggle="modal" data-target="#pic1" href="">
            <div class="portfolio-item" style="background-image: url(assets/img/portfolio-1.jpg);">
              <div class="details">
                <h4>कविता</h4>
                <span>चंद्र कविता</span>
              </div>
            </div>
          </a>
        </div>

        <div>
          <a type="button" class="col-md-3" data-toggle="modal" data-target="#pic2" href="">
            <div class="portfolio-item" style="background-image: url(assets/img/portfolio-2.jpg);">
              <div class="details">
                <h4>नज़्म</h4>
                <span>माँ</span>
              </div>
            </div>
          </a>
        </div>

        <div>
          <a type="button" class="col-md-3" data-toggle="modal" data-target="#pic3" href="">
            <div class="portfolio-item" style="background-image: url(assets/img/portfolio-3.jpg);">
              <div class="details">
                <h4>शायरी</h4>
                <span>पंछियो को</span>
              </div>
            </div>
          </a>
        </div>

        <div>
          <a type="button" class="col-md-3" data-toggle="modal" data-target="#pic4" href="">
            <div class="portfolio-item" style="background-image: url(assets/img/portfolio-4.jpg);">
              <div class="details">
                <h4>शायरी</h4>
                <span>माँ</span>
              </div>
            </div>
          </a>
        </div>

        <div>
          <a type="button" class="col-md-3" data-toggle="modal" data-target="#pic5" href="">
            <div class="portfolio-item" style="background-image: url(assets/img/portfolio-5.jpg);">
              <div class="details">
                <h4>ग़ज़ल</h4>
                <span>कहीं पर ज़िंदगी कही</span>
              </div>
            </div>
          </a>
        </div>

        <div>
          <a type="button" class="col-md-3" data-toggle="modal" data-target="#pic6" href="">
            <div class="portfolio-item" style="background-image: url(assets/img/portfolio-6.jpg);">
              <div class="details">
                <h4>शेर</h4>
                <span> सँवरती है तो</span>
              </div>
            </div>
          </a>
        </div>

        <div>
          <a type="button" class="col-md-3" data-toggle="modal" data-target="#pic7" href="">
            <div class="portfolio-item" style="background-image: url(assets/img/portfolio-7.jpg);">
              <div class="details">
                <h4>शेर</h4>
                <span>अगर तुम्हे उसे</span>
              </div>
            </div>
          </a>
        </div>

        <div>
          <a type="button" class="col-md-3" data-toggle="modal" data-target="#pic8" href="">
            <div class="portfolio-item" style="background-image: url(assets/img/portfolio-8.jpg);">
              <div class="details">
                <h4>नज़्म</h4>
                <span>गमदीदा शख्श ग़र कोई</span>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>
  <!-- #portfolio-->

  <!--==========================
  Testimonials Section
  ============================>
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Testimonials</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="../assets/img/client-1.jpg" alt=""></div>
            <h4>Saul Goodman</h4>
            <span>Lawless Inc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="../assets/img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="../assets/img/quote_sign_left.png" alt=""></b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small><img src="img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="../assets/img/client-2.jpg" alt=""></div>
            <h4>Sara Wilsson</h4>
            <span>Odeo Inc</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #clients-->

  <!--==========================
  Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Kanor</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">पानी को आग लिख दूँ तो धुआँ बन उठे</p>
        </div>
      </div>


      <div>
        <div>
          <div class="member">
            <div class="pic"><img src="assets/img/team-1.jpg" alt=""></div>
            <h4>कनोर</h4>
            <span>Engineer</span>
            <div class="social">
              <a href="https://twitter.com/pankaj_pvt"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/pankaj.vyas.90410834/"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/notebook.pvt/"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- team-->

  <!--==========================
  Contact Section
  ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact Me</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">You can share your writings with me.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Kormangala Bangalore</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>pankajvyas033@gmail.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+91-7354510208</p>
            </div>

          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- contact-->

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Notebook Pages</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
            -->
            Designed by <a href="https://www.linkedin.com/in/pankaj-vyas-539b21117/">pankajvyas</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->


</div>
